$color-white: #fff;
$color-black: #000;
$text-color-white: #fff;
$text-color-white-hover: #eeeeee;
$text-color-gray: #5e5e5e;
$button-color-green: #05a081;
$button-color-green-hover: #097e66;
$modal-button-color-green: #05a081;
$modal-button-color-green-hover: #06b995;
$header-bg-color: #232a34;
