@import '../../../scss/colors';

.navbar {
  position: fixed;
  top: 0;
  height: 66px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;

  .logoWrapper {
    width: 120px;
    min-width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    text-decoration: none;
    outline: none;

    img {
      margin-left: 15px;
      height: 60%;
      width: auto;
      user-select: none;
    }

    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: $text-color-white;

      &:hover {
        color: $text-color-white-hover;
      }
    }

    @media only screen and (max-width: 1000px) {
      width: fit-content;
      min-width: initial;

      p {
        display: none;
      }
    }

    & + div {
      margin-right: 20px;
    }
  }

  @media only screen and (max-width: 500px) {
    .logoWrapper {
      display: none;
    }

    padding-left: 30px;
  }

  .navigationWrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 0 -5px 0 auto;

    .navigationLinks {
      padding: 0;
      height: 100%;
      display: flex;
      gap: 30px;

      li {
        display: flex;
        align-items: center;
        height: 100%;

        a {
          text-decoration: none;
          color: $text-color-white;
          font-size: 1.1rem;

          &:hover {
            color: $text-color-white-hover;
          }
        }

        img {
          height: 30%;
          width: auto;
          user-select: none;
          filter: invert(1);
          cursor: pointer;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      li:not(:first-child) {
        display: none;
      }
    }

    @media screen and (max-width: 850px) {
      li:first-child {
        margin-right: 25px;
      }

      button {
        display: none;
      }
    }

    button {
      width: 86px;
      height: 38px;
      margin-right: 20px;
      margin-left: 30px;
      border-radius: 3px;
      background-color: $button-color-green;
      color: $text-color-white;
      font-size: 1.1rem;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $button-color-green-hover;
      }
    }
  }
}

.showColor {
  background-color: $header-bg-color;
}
