.container {
  width: 100%;
  min-height: 70vh;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (max-width: 600px){
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
